body{ 
    background-color: #CDEBF3;
}
h1{
    font-family: Hanuman;
}
h3{
    font-family: Hanuman;
    color: #7D6A6A;
}
p{
    text-align: justify;
}
.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    /* z-index: 1; */
    float: left;
    left: 0;
}
.bg-dark{
    background-color: black;
}
.content {
    padding-top: 20%;
    padding-bottom: 3%;
    padding-left: 5%;
    width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    background: transparent;
    text-align: left;
    color: white;
    font-family: Hanuman;
}

.content p{
    font-size: 25px;
}
a{
	font-family: 'Gidugu', sans-serif;
    font-size: 25px;
}
#bg-img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(https://pbs.twimg.com/media/DuHyVC9XcAEh0c_.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    }
