body{ 
    background-color: #CDEBF3;
}
h1{
    font-family: Hanuman;
}
h3{
    font-family: Hanuman;
    color: #7D6A6A;
}
p{
    text-align: justify;
}
.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    /* z-index: 1; */
    float: left;
    left: 0;
}
.bg-dark{
    background-color: black;
}
.content {
    padding-top: 20%;
    padding-bottom: 3%;
    padding-left: 5%;
    width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    background: transparent;
    text-align: left;
    color: white;
    font-family: Hanuman;
}

.content p{
    font-size: 25px;
}
a{
	font-family: 'Gidugu', sans-serif;
    font-size: 25px;
}
#bg-img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(https://scontent.fcgk5-1.fna.fbcdn.net/v/t1.0-9/44122192_2035941866426487_1114057530956316672_o.jpg?_nc_cat=107&_nc_eui2=AeGycXyuvaX9AEi5KG0exH1lp46x-PkfU4ajK35QiOyOyadmEmpGDQYqJU6WIWPBR8wS_SwgXTiB21kokq-4e8uOO6V79lHT-zq0rINlJsVVIg&oh=ecaa81bbf4448d5b96b5c7fb1801ff68&oe=5C61F5C7);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    }
