{% extends 'base.html' %}
{% load static %}
{% block content %}
<hmtl>
	<head>
		<br/>
		<div class="container" style="background-color: #598FB5">
		<!-- bootstrap using cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<!-- responsive for mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- internal css -->
		<style>
			#mid_title {
				text-align: center;
			}
			#table_body, #table_head {
				text-align: center;
			}
			.card {
				margin-top: 50px;
			}
			.fake_body {
				padding-top: 100px;
			}
		</style>
	</head>
	<body>
	
		<div class="fake_body container">
			{% if user.is_authenticated %}
			<h1 class="mx-auto text-dark"> Halo {{user.first_name}}, ini adalah program yang telah anda donasikan </h1>
			{% endif %}
			<!-- <h1>test</h1> -->
			<div class="card bg-light text-dark shadow p-4 mb-4 bg-white">
				<div class="card-body">
					<table class="table table-striped table-responsive-md">
						<thead id="table_head">
							<tr>
								<th>Nama Program:</th>
								<th>Jumlah donasi:</th>
							</tr>	
							{% for i in data %}
							<tr>
								<td> {{i.program}} </td>
								<td> {{i.uang}} </td>
							</tr>
							{% endfor %}
						</thead>
	
	</body>
</hmtl>
{% endblock %}