{% extends 'base.html' %}
{% load static %}

        {% block content %}
        <body>

            <div class="content" id ="bg-img">
                
                <h1><b>Donasi Anda</b></h1>
                <p>adalah inspirasi orang lain</p>
                
                <div class="col-sm-1">
                    <a style="background: white; color:#598FB5; border-color: transparent;" type="button" class="btn btn-primary btn-lg" href="{% url 'donasi:donatur' %}"> DONATUR</a>
                    <br/>
                    <a style="background: white; color:#598FB5; border-color: transparent; margin-top: 20px;width: 90px;" type="button" class="btn btn-primary btn-lg" href="{% url 'program' %}"> PROGRAM  </a>
                </div>
                
            </div>

        </body>
        
    
{% endblock %}
