{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  <center>
  <h1>Siap memberi bantuan? </h1>
  <h3>Hallo! Pilih program yang ingin anda bantu :)</h3>
</center>
  <br/>
    <div class="container">
          <div class="card-columns">

              {% for i in programs %}
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{i.img_program}}" data-holder-rendered="true">
              <div class="card-body">
                <h4> {{i.judul_program}}<br/></h4>
                <p class="card-text">{{i.isi_program}}<br/><br/><br/></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% if user.is_authenticated %}
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'donasi:program_donasi' id=i.id %}">Donasi</a>
                    {% else %}
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'social:begin' 'google-oauth2' %}">Donasi</a>
                    {% endif %}
                  </div>
                </div>
              </div>
              
            </div>
            {% endfor %}

          </div>
    </div>
    
                  
</body>

{% endblock %}
