{% extends 'base.html' %}
{% load static %}

        {% block content %}

        <body>
            <br/>
            <div class="container" style="background-color: #598FB5">
                <h1 class = "sub-title"><strong><i>Testimonial</i></strong></h1>
                {% if data_obj %}
                    {% for data in data_obj %}
                        <div class="box-testi-part col-lg-8">
                            <div class="text" >
                                <span>" {{data.testimoni}} "</span>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <span>There is no testimonial yet.</span>
                {% endif %}
            </div>
            
            <div class="container">
                <div id="testi-here">
            
                </div>
            </div>
            
            <div class="content">
                <div class="container">
                    <h1 class = "sub-title" style="color:#598FB5"><strong><i>Help us to improve!</i></strong></h1>
                    
                    {% if user.is_authenticated %}
                        <span style="color:#598FB5">Let us know about your opinion by giving testimonial below.</span>
                        <br><br>
                        
                        <form id="post-form" action="{% url 'about-us' %}" method="POST">
                            {% csrf_token %}
                            <div id="the_post">
                                {{ testimonial_form }}
                            </div>
                            <br>
                            <button class="btn btn-outline-secondary" type="submit" value="Create Testimonial">Submit</button>
                        </form>
                    
                    {% else %}
                        <span style="color:#598FB5">Login and let us know about your opinion.</span>
                        <br><br>
                        
                    {% endif %}
                    
                </div>
            </div>
            
            <br>
            


        <script src="{% static 'js/text.js' %}"></script>
        </body>
        {% endblock %}