<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Sinar Perak</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Gidugu" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-sm navbar-dark bg-white">
        <a class="navbar-brand" href="#"style="color:#598FB5">SinarPerak.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="background-color:#598FB5"></span>
        </button>
  
        <div class="collapse navbar-collapse bg-white navbar-right" id="navbarsExample03">
          <ul class="navbar-nav navbar-right">
            <li class="nav-item active">
              <a class="nav-link nav" href="{% url 'home'%}" style="color:#598FB5">Beranda <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'berita'%}"style="color:#598FB5">Berita</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'program'%}"style="color:#598FB5">Program</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about-us'%}"style="color:#598FB5">About Us</a>
            </li>

              {% if user.is_authenticated %}
              <li class="nav-item">
                 <a class="nav-link" href="{% url 'logout'%}"style="color:#598FB5">LOGOUT</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'history'%}"style="color:#598FB5">Hello, {{user.first_name}}</a>
              </li>
              {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}"style="color:#598FB5">LOGIN</a>
              </li>
              {% endif %}
          </ul>
        </div>
      </nav>


{% block content %}

{% endblock %}

</html>
