{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <div class="form">
                <form method="POST" action="{% url 'donasi:post' %}">
                {% if user.is_authenticated %}
                {% csrf_token %}
                <p> Nama Program : <span id="dataprogram">{{ data.judul_program }}</span></p>
                <p> Nama : <span id="datanama">{{username}}</span></p>
                <p> Email : <span id="dataemail">{{user.email}}</span></p>
                <p> Jumlah donasi : <span id="uwang">{{form.uang}}</span></p>
                <p> Anonymous {{form.check}} </p>
                <input type="hidden" name="program" value="{{data.judul_program}}">
                {% else %}
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="program" value="{{data.judul_program}}">
                {% endif %}
                <button class="btn btn-lg btn-primary sapmit" type="submit"> Submit </button>
                <br><br>
                </form>
            </div>
        </div>
        <div class="col-sm-5">
            <img src= "{% static 'data.jpg' %}" alt = "Picture can't be opened" width=80% height=70%>

        </div>
    </div>
</div>

{% endblock %}