{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <h1 style="text-align: center">Pahlawan Kami</h1>
        <table class="table">
            <thead>
            <th>Program</th>
            <th>Nama</th>
            </thead>
            <tbody>
            {% for i in result %}
            {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
            <tr class="warning"> {% else %} <tr class="success">
                {% endif %}
                <td> {{i.program}} </td>
                {% if i.check %}
                    <td> Anon </td>
                {% else %}
                    <td> {{i.nama}} </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}