{% load static %}
<hmtl>
	<head>
		<!-- bootstrap using cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<!-- responsive for mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- internal css -->
		<style>
			#mid_title {
				text-align: center;
			}
			#table_body, #table_head {
				text-align: center;
			}
			.card {
				margin-top: 50px;
			}
			.fake_body {
				padding-top: 100px;
			}
		</style>
	</head>
	<body>
	{% include "layout/navbar.html" %}
		<div class="fake_body container">
			{% if user.is_authenticated %}
			<h1 class="mx-auto text-dark"> Halo {{user.first_name}}, ini adalah program yang telah anda donasikan </h1>
			{% endif %}
			<!-- <h1>test</h1> -->
			<div class="card bg-light text-dark shadow p-4 mb-4 bg-white">
				<div class="card-body">
					<table class="table table-striped table-responsive-md">
						<thead id="table_head">
							<tr>
								<th>No</th>
								<th>Program</th>
								<th>Jumlah Donasi</th>
							</tr>	
						</thead>
						<tbody id="table_body">
							<tr>
								<td>1</td>
								<td>Gempa Palu</td>
								<td>Rp. 1000.000 </td>
							</tr>
							<tr>
								<td>2</td>
								<td>Gempa Palu</td>
								<td>Rp. 1000.000 </td>
							</tr>
							<tr>
								<td>3</td>
								<td>Gempa Palu</td>
								<td>Rp. 1000.000 </td>
							</tr>
							<tr>
								<td>4</td>
								<td>Gempa Palu</td>
								<td>Rp. 1000.000 </td>
							</tr>
							<tr>
								<td>5</td>
								<td>Gempa Palu</td>
								<td>Rp. 1000.000 </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	{% include "layout/footer.html"%}
	</body>
</hmtl>