{% extends 'base.html' %}
{% load static %}

        {% block content %}
        <body>

            <div class="content" id ="bg-img">
                
                <h1><b>Terima kasih</b></h1>
                <p>telah mendonasikan uang anda</p>
                
            </div>

        </body>
        
    
{% endblock %}
