{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container">
    <h1> Jadilah Agen Perubahan Versi kamu! </h1>
    <div class="row">
        <div class="col-sm-7">
            <div class="form">
                <form action="{% url 'postPengguna' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                      </div>
                <!-- <button class="btn btn-lg btn-primary" type="submit"> Submit </button> -->
                <input type="submit" value="Submit">
                <br><br>
                </form>

            </div>
        </div>
        <div class="col-sm-5">
                <h1>Hubungi Kami</h1>
        </br>
                <p>Jl. Maju Mundur
                Nomor 71
                Depok, Jawa Barat</p>
            
                <p>087781133455</p>
            
                <p>sinarperak@gmail.com</p>

        </div>
    </div>
</div>

{% endblock %}