{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  body{
    background-color:#cdebf3;
  }
  img-pos{
    position: absolute;
    padding-left: 50%;
  }

</style>
  <body>
    
      <div class="row">
        {% for i in beritas%}
          <div class="col-sm-6">
            <br/>
              <div class = "container">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  
                  <div class="carousel-inner img-pos">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="{{i.img_berita}}" alt="First slide">
                    </div>
                  </div>
                  
                </div>
          </div>
        </div>
          
          <div class="col-sm-6">
              <div class = "container">
            <center>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner img-pos">
                    <div class="carousel-item active">
                        <h1>{{i.judul_berita}}</h1>
                        <p>{{i.isi_berita}}</p>

                    </div>
                  </div>
                </div>
                <a style="background:#598FB5; color:white; border-color: transparent;margin-top: 65px;" type="button" class="btn btn-primary btn-lg" href="{% url 'donasi' %}"> Donasi</a>
                <hr/>
          </div>
          </div>
      
        </center>
        {% endfor %}
        </div>
  
  </body>
  
{% endblock %}
  